.header {
	padding-top: 50px;
	// .header__container
	&__container {
		max-width: 1440px;
		margin: 0 auto;
	}
	// .header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .header__list
	&__list {
		display: flex;
		gap: 50px;
	}
	// .header__item
	&__link {
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 30px;
		background-color: rgb(62, 161, 218);
		color: #fff;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(9, 98, 150);
			}
		}
	}
}
